Source: dh-modaliases
Section: admin
Priority: optional
Maintainer: Aron Xu <happyaron.xu@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.1
Homepage: https://launchpad.net/jockey

Package: dh-modaliases
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, perl
Enhances: debhelper
Description: debhelper extension for scanning kernel module aliases
 dh_modaliases is useful for packages that ship third-party kernel modules,
 either in binary form, or as sources (with e. g. DKMS). It extracts the modules'
 modaliases from either the compile .ko files themselves (for packages which ship
 them in compiled form, using modinfo), or from a package file 
 debian/packagename.modaliases.
 .
 This enables software which is looking for missing driver packages (such as Jockey
 or the operating system installer) to identify which package(s) will provide a
 driver for a piece of hardware, identified by its modalias. 
